@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #90189c;
  --color-secondary: #e58739;

  --font-sans: "Inter", sans-serif;
}

@keyframes border-snake {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-border-snake {
  animation: border-snake 4s linear infinite;
}

body {
  font-family: var(--font-sans);
}